.app-main {
    text-align: center;
    background-color: #a5d6a7;
    height: 100vh;
    width: 100vw;
}
.app-main-content{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-bar-name{
    padding: 25px;
    font-size: 75px;
    color: #303f9f;
}
.top-bar-caption{
    padding: 20px;
    font-size: 20px;
    color: black;
}
.input-link-main {
    width: 60%;
    margin: 0px 20%;
}
.show-tags{
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    padding: 5px 20px;
    margin: 0px 20%;
}
.show-tag{
    background-color: #795548;
    color: white;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 26px;
}
.input-link{
    width:calc(100% - 100px);
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    padding:0px 20px;
    background-color: #4caf4f;
}
.link-search-button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color:#43a046;
}
.link-search-button:focus{
    background-color: aqua;
}
.single-link-main{
    color:white;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    width: fit-content;
    background-color: #3f51b5;
    border-radius: 28px;
}
.single-link-main:hover{
    transform: scale(1.1);
}
.all-links{
    display: flex;
    width: 60%;
    margin: 0px 20%;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (max-width:800px){
    .input-link-main {
        width: calc(100% - 20px);
        margin: 0px 10px;
    }
    .show-tags{
        width: calc(100% - 60px);
        margin: 0px 10px;
    }
    .all-links{
        width: calc(100% - 20px);
        margin: 0px 10px;
    }
}